.o_setting_right_pane .o_doc_link{
	display: none !important;
}
// .o_widget_iap_buy_more_credits .buy_credits {
// 	display: none !important;
// }
.o_widget_iap_buy_more_credits {
	display: none !important;
}

.o_setting_right_pane .o_enterprise_label{
	display: none !important;
}